<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <header>
        <div class="small-button"><a href="{{ url_for('index') }}">Back</a></div>
    </header>
    <main class="enter">
        <h2>Create New Entry For {{code}}</h2>
        <form method="POST">
            <input class="text" type="text" name="name" placeholder="Your Name" required><br>
            <input class="text" type="tel" name="phone" placeholder="Your Phone Number" pattern="^\+?[0-9\s\-\(\)]{7,}$" required><br>
            <textarea name="note" placeholder="Your Note... (Size, additional info/notes...)"></textarea><br>
            <input class="submit" type="submit"/>
        </form>
    </main>
</body>

</html>