<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <header>
        <div class="small-button"><a href="{{ url_for('index') }}">Back</a></div>
    </header>
    <main class="enter">
        <h2>Create New Entry For {{code}}</h2>
        <form method="POST">
            <input class="text" type="text" name="name" placeholder="Your Name" required><br>
            <input class="text" type="tel" name="phone" placeholder="Your Phone Number" pattern="^\+?[0-9\s\-\(\)]{7,}$" required><br>
            <textarea name="note" placeholder="Your Note... (Size, additional info/notes...)"></textarea><br>
            <input class="submit" type="submit"/>
        </form>
        <h1>BY SIGNING UP, YOU AGREE TO THE FOLLOWING:</h2>
        <h2>Anyone can get you ANYTHING unless otherwise stated within your note.</h2>
        <h2>I can use you phone number (Very breifly) to send a mass message stating which person you got.</h2>
        <h2>If you wish to widthdraw your application, send me a message.</h2>
    </main>
</body>

</html>