<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="refresh" content="5">
</head>
<body>
  <div class="back"><a href="{{ url_for('index') }}">Back</a></div>
  <section>
    <h2>All Entries</h2>
    <table border="1" cellpadding="5">
      <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Note</th>
      </tr>
      {% for u in users %}
      <tr>
        <td>{{ u[0] }}</td>
        <td>{{ u[1] }}</td>
        <td>{{ u[2] }}</td>
      </tr>
      {% endfor %}
    </table>
  </section>
  <section>
    <h2>If you want to change the infomation you submitted, send me a message, and submit a new entry</h2>
  </section>
</body>

</html>